.navigation{
    background-color: $color-black;
    @include inner;
    @include flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    &__logo{
        display: inline-block;

        img{
            width: 14rem;

            @include media(900px){
               width: 8rem;
            }
        }
    }

    &__links{
        
        @include media(900px){
            height: 100vh;
        }
        ul{
            @include flex;
            list-style-type: none;

            li{
                padding:0 1rem;
                @include media(900px){
                    display: block;
                    flex-basis: 100%;
                    margin-bottom: 2rem;
                }
                @include media(360px){
                    margin-bottom: 1rem;
                }
                a{
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: .85rem;
                    transition: all 150ms;

                    @include media(360px){
                       font-size: .70rem;
                    }

                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }

        @include media(900px){
            flex-basis: 100%;
            display: none;
        }
    }

    &__toggle{
        text-decoration: none;
        display: none;
        @include media(900px){
            display: block;
        }
        span{
            display: block;
            width: 25px;
            height: 1px;
            background-color: $color-white;
            margin-bottom: .5rem;
        }
    }

}