@mixin inner{
    max-width: 1200px;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin heading($color){
      font-size: 1.3rem;
      line-height: 1.8rem;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      color: $color;
      font-weight: 500;
}

@mixin subheading($color){
      font-weight: 400;
      color: $color;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: -0.025em;
      margin: 1.2rem 00;
}

@mixin bg-color{
    background: linear-gradient(to right, #156bf3 0%, #1af0a4 100%);
}

@mixin media($width){
    @media only screen and (max-width:$width){
        @content;
    }
}