.contact{
    @include flex;
    justify-content: space-between;

    &__details{
        flex-basis: 30%;

        @include media(1000px){
            flex-basis: 100%;
            margin-bottom: 2rem;
        }

        p{
            font-size: .8rem;
            line-height: 1.5rem;

            span{
                font-weight: 600;
            }
        }

        img{
            margin-top: 1rem;
            width: 30px;
            margin-right: .6rem;
        }
    }

    &__form{
        flex-basis: 65%;

        @include media(1000px){
            flex-basis: 100%;
        }

        form{
             @include flex;
             justify-content: space-between;
            .group-field{
                flex-basis: 45%;

                @include media(700px){
                    flex-basis: 100%;
                }
    
                input,textarea{
                    display: block;
                    border: none;
                    background: #37384e;
                    width: 100%;
                    padding: .95rem .8rem;
                    margin-bottom: .95rem;
                }

                .btn{
                    width: 50%;
                    color: white;
                    display: inline-block;
                    @include bg-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: .7rem;
                    padding: 15px 50px;
                    margin-top: 2rem;
                    transition: transform 150ms linear;
                    border: none;

                    @include media(700px){
                        width: 100%;
                    }
                }
            }
        }

        p{
            font-size: .6rem;
            margin-top: 1rem;
            font-weight: 600;
        }
    }
}